@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  padding: 10px;
}

/* index.css */

body {
  background-color: #242424; /* Set the background color to black */
  background-position: center; /* Position the background image in the center of the element */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: contain; /* Make the image as large as possible within the element's content area without cropping or stretching */
  color: #fff; /* Set the text color to white for better readability */
  background-attachment: fixed; /* Optional: This will make the background fixed during scroll */
}

/* Style the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #2c2f33; /* Dark grey track */
}

/* Style the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #7289da; /* Dark blue thumb */
  border-radius: 10px; /* Rounded corners on the thumb */
}

/* Handle hover and active states for thumb */
::-webkit-scrollbar-thumb:hover {
  background: #5b6eae; /* Lighter blue thumb on hover */
}

::-webkit-scrollbar-thumb:active {
  background: #4e5d94; /* Even lighter blue thumb when clicking */
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7289da #2c2f33;
}